@page "/admin/banned"
@inject IUsersService UsersService
@inject IModalService ModalService
@inject NavigationManager NavigationManager
<AuthCheck Admin />

<PageTitle>Bans</PageTitle>

<h1 class="text-2xl">Application-wide Bans</h1>

@if (banned is null)
{
    <LoadingSpinner />
}
else
{
    <div class="flex flex-col gap-y-1">
        @foreach (var user in banned.Items)
        {
            <div class="flex gap-x-2">
                <div>
                    @($"{user.FullName} @{user.Username}")
                </div>

                <div>
                    <button class="rounded-lg px-2 py-1 bg-rose-500 text-slate-200" @onclick="() => UnbanUserAsync(user)">Unban</button>
                </div>
            </div>
        }
        <div class="flex">
            <button class="rounded-lg px-2 py-1 bg-rose-500 text-slate-200" @onclick=Next enabled=@banned.NextEnabled>Next</button>
            <button class="rounded-lg px-2 py-1 bg-rose-500 text-slate-200" @onclick=Prev enabled=@banned.PreviousEnabled>Prev</button>
        </div>
    </div>
}

@code {
    [SupplyParameterFromQuery]
    public int? Page { get; set; }

    int page => Page ?? 1;

    PaginateResult<UserResponseDTO>? banned;

    void Next()
    {
        if (banned?.NextEnabled is true)
            NavigationManager.NavigateTo($"/admin/banned?page={page + 1}");
    }

    void Prev()
    {
        if (banned?.PreviousEnabled is true)
            NavigationManager.NavigateTo($"/admin/banned?page={page - 1}");
    }

    async Task UnbanUserAsync(UserResponseDTO user)
    {
        // TODO implement
        // if (!await UsersService.TryUnbanUserAsync(user.Id))
        // {
        //     ModalService.ShowError("Failed to unban user", "Internal error");
        //     return;
        // }
    }

    protected override async Task OnParametersSetAsync()
    {
        var (success, banned_) = await UsersService.TryReadBannedUsersAsync(page);
        if (!success || banned_ is null)
        {
            ModalService.ShowError("Failed to load banned users", "Internal error");
            return;
        }
        banned = banned_;
    }
}


