@*
    Login page for the user to login to the system.
*@
@page "/auth/login"
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JSRuntime
@inject IAuthService AuthService
@inject IUsersService UsersService
@using DistributedCodingCompetition.AuthService.Models;
@using System.Security.Claims;
@using Microsoft.AspNetCore.Authentication;
@using Microsoft.AspNetCore.Authentication.Cookies;

<PageTitle>Login</PageTitle>

<div class="py-2 mx-auto align-middle border rounded-lg border-slate-200 w-96">
    <h2 class="py-2 text-2xl text-center">Login</h2>
    @if (submitted)
    {
        <LoadingSpinner />
    }
    else
    {
        <EditForm Enhance class="flex flex-col items-center justify-center gap-y-5" Model=Model OnValidSubmit=SubmitAsync FormName="login">
            <label class="flex flex-col">
                <div class="pl-2">
                    Email
                </div>
                <InputText class="w-64 px-2 py-1 ml-2 bg-gray-100 rounded-lg text-slate-800" id="username" type="email"
                           @bind-Value=Model!.Email />
                <div class="h-2 text-rose-500">
                    <ValidationMessage For=@(() => Model.Email) />
                </div>
            </label>

            <label class="flex flex-col">
                <div class="pl-2">
                    Password
                </div>
                <InputText class="w-64 px-2 py-1 ml-2 bg-gray-100 rounded-lg text-slate-800" type="password"
                           @bind-Value=Model.Password />
                <div class="h-2 text-rose-500">
                    <ValidationMessage For=@(() => Model.Password) />
                </div>
            </label>
            <div class="flex justify-center">
                <button class="px-2 py-1 border rounded-xl text-violet-500 border-violet-500 hover:bg-violet-200 active:bg-violet-400"
                        type="submit">
                    Submit
                </button>
            </div>
            <DataAnnotationsValidator />
        </EditForm>
    }
    <div class="h-2 text-rose-500">
        @Model!.Error
    </div>
</div>

@code {
    // Load connection details from the parent component, including the user agent and IP address.
    [CascadingParameter]
    public ConnectionDetails? ConnectionDetails { get; set; }

    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }

    // Optional ReturnURL parameter to redirect the user to after login.
    [SupplyParameterFromQuery]
    public string? ReturnUrl { get; set; }

    [SupplyParameterFromForm]
    LoginModel? Model { get; set; }

    bool submitted;

    protected override async Task OnInitializedAsync()
    {
        Model ??= new();
        await (HttpContext?.SignOutAsync() ?? Task.CompletedTask);
    }
    private async Task SubmitAsync()
    {
        if (submitted)
            return;

        submitted = true;

        // Force a re-render to show the loading spinner.
        await InvokeAsync(StateHasChanged);

        await Task.Delay(250);

        try
        {
            var (success, user) = await UsersService.TryReadUserByEmailAsync(Model!.Email);
            if (!success || user is null)
            {
                Model.Error = "Failed to login.";
                return;
            }

            // Try to login the user.

            if (await AuthService.TryLoginAsync(user.Id, Model.Password, ConnectionDetails?.UserAgent ?? "Unknown", ConnectionDetails?.IpAddress ?? "Unknown") is not LoginResult result)
            {
                Model.Error = $"Failed to login.";
                return;
            }
            // write the user to the session
            var validationResult = await AuthService.ValidateTokenAsync(result.Token);

            if (validationResult is null)
            {
                Model.Error = "Failed to login.";
                return;
            };

            List<Claim> claims = [new(ClaimTypes.NameIdentifier, validationResult.Id.ToString())];

            if (result.Admin)
                claims.Add(new(ClaimTypes.Role, "Admin"));

            // cookie auth
            ClaimsIdentity claimsIdentity = new(claims, CookieAuthenticationDefaults.AuthenticationScheme);
            AuthenticationProperties authProperties = new()
                {
                    IsPersistent = true,
                    ExpiresUtc = DateTimeOffset.UtcNow.AddDays(7),
                };

            await (HttpContext?.SignInAsync(CookieAuthenticationDefaults.AuthenticationScheme, new ClaimsPrincipal(claimsIdentity), authProperties) ?? Task.CompletedTask);

            NavigationManager.NavigateTo(ReturnUrl ?? "/dashboard", true);
        }
        finally
        {
            submitted = false;
        }
    }


    private class LoginModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; } = string.Empty;
        [Required]
        [MinLength(8)]
        public string Password { get; set; } = string.Empty;

        public string? Error { get; set; }
    }
}
