@page "/dashboard"
@rendermode InteractiveServer
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IUserStateService UserStateService
@using DistributedCodingCompetition.ApiService.Models
<RedirectToLogin />

<h1>Dashboard</h1>

@if (user is not null)
{
    <p>Welcome, @user.Username</p>
    <p>Your email is: @user.Email</p>
}

@code {
    User? user;

    protected override async Task OnInitializedAsync()
    {
        user = await UserStateService.UserAsync();
    }
}