@inherits LayoutComponentBase

<div class="flex flex-col w-5/6 mx-auto lg:w-2/3 xl:w-1/2">
    <NavMenu />
    @Body
</div>

@*
// blazor UI error, not used in the project and doesn't work since this is tailwind

  <div id="blazor-error-ui">
      An unhandled error has occurred.
      <a href="" class="reload">Reload</a>
      <a class="dismiss">🗙</a>
  </div>
*@
