@inherits LayoutComponentBase

<div class="flex flex-col mx-auto sm:w-4/5 md:w-2/3 lg:w-1/2">
    <NavMenu />
    @Body
</div>

@*

  <div id="blazor-error-ui">
      An unhandled error has occurred.
      <a href="" class="reload">Reload</a>
      <a class="dismiss">🗙</a>
  </div>
*@
