<div>
    <nav class="flex justify-between w-full py-1 sm:px-8">
        <div class="text-2xl font-semibold text-violet-500">Distributed Coding Competition</div>
        <AuthorizeView>
            <Authorized>
                <div></div>
            </Authorized>
            <NotAuthorized>
                <div class="flex align-middle gap-x-1">
                    <a href="/auth/login" class="px-2 font-semibold text-center align-middle border-2 text-md rounded-xl text-violet-500 hover:bg-violet-200 border-violet-500">Login</a>
                    <a href="/auth/register" class="px-2 font-semibold text-center text-white align-middle border-2 text-md rounded-xl bg-violet-500 border-violet-500">Register</a>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

