@inject IJSRuntime JSRuntime

<div class="border rounded-lg border-slate-700 h-96">
    <StandaloneCodeEditor @ref=editor CssClass="h-full" ConstructionOptions=EditorConstructionOptions
        OnDidChangeModel=EditorModelChangedAsync />
</div>

@code {
    private StandaloneCodeEditor editor = default!;

    [Parameter]
    public EventCallback<string> CodeChanged { get; set; }

    [Parameter]
    public string Code { get; set; } = string.Empty;
    
    [Parameter]
    public string Language { get; set; } = "text";

    [Parameter]
    public bool ReadOnly { get; set; }

    private StandaloneEditorConstructionOptions EditorConstructionOptions(StandaloneCodeEditor editor)
    {
        return new StandaloneEditorConstructionOptions
            {
                ReadOnly = ReadOnly,
                AutomaticLayout = true,
                Language = Language,
                Value = Code,
            };
    }
    private async Task EditorModelChangedAsync()
    {
        var model = await editor.GetModel();
        Code = string.Join('\n', await model.GetLinesContent());
        await CodeChanged.InvokeAsync(Code);
    }
}