<a href="/auth/login"
    class="px-2 font-semibold text-center text-white align-middle border-2 active:bg-violet-600 hover:text-violet-200 text-md rounded-xl bg-violet-500 border-violet-500">
    Logout
</a>

