@*
    This page is responsible for managing the account of the user.
    It is a protected page and can only be accessed by authenticated users.
*@
@page "/account"
<AuthCheck/>

<PageTitle>Manage Account</PageTitle>

<h3>Manage your account</h3>

