@page "/account/password"
<AuthCheck />

<PageTitle>Account Password</PageTitle>

<h2 class="text-3xl">Change Password</h2>

<EditForm Model=model OnValidSubmit=SubmitAsync>
    <label>
        <span>Current Password</span>
        <InputText @bind-Value=model.CurrentPassword />
        <ValidationMessage For=@(() => model.CurrentPassword) />
    </label>

    <label>
        <span>New Password</span>
        <InputText @bind-Value=model.NewPassword />
        <ValidationMessage For=@(() => model.NewPassword) />
    </label>

    <label>
        <span>Confirm Password</span>
        <InputText @bind-Value=model.ConfirmPassword />
        <ValidationMessage For=@(() => model.ConfirmPassword) />
    </label>
</EditForm>


@code {
    ChangePasswordModel model = new();

    async Task SubmitAsync()
    {

    }

    class ChangePasswordModel
    {
        [Required(ErrorMessage = "Current password is required")]
        public string? CurrentPassword { get; set; }

        [Required(ErrorMessage = "New password is required")]
        [MinLength(8, ErrorMessage = "Password must be at least 8 characters long")]
        public string? NewPassword { get; set; }

        [Required(ErrorMessage = "Confirm password is required")]
        [Compare(nameof(NewPassword), ErrorMessage = "Passwords do not match")]
        public string? ConfirmPassword { get; set; }
    }
}

