@*
    public Guid Id { get; set; }
    public string Name { get; set; } = string.Empty;

    public Guid OwnerId { get; set; }
    public User Owner { get; set; } = null!;

    public string Description { get; set; } = string.Empty;

    public string RenderedDescription { get; set; } = string.Empty;

    public string? Difficulty { get; set; }
    public ICollection<TestCase> TestCases { get; set; } = [];
*@

@page "/problem/{id:guid}/edit"
@inject IUserStateService UserStateService
@inject NavigationManager NavigationManager
@inject IModalService ModalService
@inject IApiService ApiService
@inject IMarkdownRenderService MarkdownRenderService
@rendermode InteractiveServer
<AuthCheck />

@if (model is not null)
{
    <EditForm OnValidSubmit="SubmitAsync">

        <div class="form-group">
            <label for="Name">Name</label>
            <InputText id="Name" class="form-control" @bind-Value="model.Name" />
        </div>

        <div class="form-group">
            <label for="Description">Description</label>
            <InputText id="Description" class="form-control" @bind-Value="model.Description" />
        </div>

        <div class="form-group">
            <label for="Difficulty">Difficulty</label>
            <InputText id="Difficulty" class="form-control" @bind-Value="model.Difficulty" />
        </div>
        @foreach (var testcase in TestCases)
        {
            <div class="flex justify-between">
                <div class="form-group">
                    <label for="Input">Input</label>
                    <InputTextArea id="Input" class="form-control" @bind-Value="testcase.Input" />
                </div>
                <div class="form-group">
                    <label for="Output">Output</label>
                    <InputTextArea id="Output" class="form-control" @bind-Value="testcase.Output" />
                </div>
                <div class="form-group">
                    <label for="Output">Description (not shown to participants)</label>
                    <InputText id="Output" class="form-control" @bind-Value="testcase.Description" />
                </div>
                <div>
                    <label for="Sample">Sample</label>
                    <InputCheckbox id="Sample" class="form-control" @bind-Value="testcase.Sample" />
                </div>
                <div>
                    <label for="Active">Active</label>
                    <InputCheckbox id="Active" class="form-control" @bind-Value="testcase.Active" />
                </div>
                <div>
                    <label for="Weight">Weight</label>
                    <InputNumber id="Weight" class="form-control" @bind-Value="testcase.Weight" />
                </div>
            </div>
        }
        <button @onclick="AddTestCaseAsync">Add New Test case</button>

        <button type="submit" class="btn btn-primary">Save</button>
        <DataAnnotationsValidator />
        <ValidationSummary />
    </EditForm>
}
@code {
    [Parameter]
    public Guid Id { get; set; }
    Problem? problem;
    ProblemModel? model;
    List<TestCase> TestCases = new();
    async Task SubmitAsync()
    {
        if (model is null || problem is null)
        {
            return;
        }

        problem.Name = model.Name;
        problem.Description = model.Description;
        problem.RenderedDescription = MarkdownRenderService.Render(model.Description);
        problem.Difficulty = model.Difficulty;
        problem.TestCases = [..model.Testcases.Select(tc => new TestCase
        {
            Id = tc.Id,
            Input = tc.Input,
            Output = tc.Output,
            Description = tc.Description,
            Sample = tc.Sample,
            Active = tc.Active,
            Weight = tc.Weight
        })];

        (var success, _) = await ApiService.TryUpdateProblemAsync(problem);

        if (!success)
        {
            ModalService.ShowError("Failed to create problem", "Internal error");
            return;
        }
        ModalService.ShowInfo("Problem saved", "");
    }

    protected override async Task OnInitializedAsync()
    {
        var user = await UserStateService.UserAsync();
        if (user is null)
        {
            return;
        }

        (var success, var prob) = await ApiService.TryReadProblemAsync(Id);
        if (!success)
        {
            ModalService.ShowError("Failed to load problem", "Internal error");
            return;
        }

        if (prob is null)
        {
            ModalService.ShowError("Problem not found", "404");
            return;
        }
        // ensure user is owner of problem
        if (prob.OwnerId != user.Id)
        {
            ModalService.ShowError("You are not the owner of this problem", "");
            NavigationManager.NavigateTo("dashboard");
            return;
        }


        (success, var cases) = await ApiService.TryReadProblemTestCases(Id);

        problem = prob;
        model = new()
            {
                Name = prob.Name,
                Description = prob.Description,
                Difficulty = prob.Difficulty ?? string.Empty,
                Testcases = [..prob.TestCases.Select(tc => new TestcaseModel
                {
                    Id = tc.Id,
                    Input = tc.Input,
                    Output = tc.Output,
                    Description = tc.Description,
                    Sample = tc.Sample,
                    Active = tc.Active,
                    Weight = tc.Weight
                })]
            };
    }

    async Task AddTestCaseAsync()
    {
        
    }

    class ProblemModel
    {
        [Required(ErrorMessage = "Name is required")]
        public string Name { get; set; } = string.Empty;
        public string Description { get; set; } = "# Title\n## Description\n## Input\n## Output\n## Explanation\n## Constraints";
        public string Difficulty { get; set; } = string.Empty;
        public List<TestcaseModel> Testcases { get; set; } = new();
    }

    class TestcaseModel
    {
        public Guid Id { get; set; } = Guid.NewGuid();
        [Required(ErrorMessage = "Input is required")]
        public string Input { get; set; } = string.Empty;
        [Required(ErrorMessage = "Output is required")]
        public string Output { get; set; } = string.Empty;
        public string Description { get; set; } = string.Empty;
        public bool Sample { get; set; }
        public bool Active { get; set; } = true;
        public int Weight { get; set; } = 1;
    }
}