@page "/problem/new"
@inject IApiService ApiService
@inject IMarkdownRenderService MarkdownRenderService
@inject IUserStateService UserStateService
@inject IModalService ModalService
@inject NavigationManager NavigationManager
<AuthCheck />

<EditForm OnValidSubmit="SubmitAsync">

    <div class="form-group">
        <label for="Name">Name</label>
        <InputText id="Name" class="form-control" @bind-Value="Model.Name" />
    </div>

    <div class="form-group">
        <label for="Description">Description</label>
        <InputText id="Description" class="form-control" @bind-Value="Model.Description" />
    </div>

    <div class="form-group">
        <label for="Difficulty">Difficulty</label>
        <InputText id="Difficulty" class="form-control" @bind-Value="Model.Difficulty" />
    </div>
    <div>You will create test cases on the next step.</div>
    <button type="submit" class="btn btn-primary">Create</button>
    <DataAnnotationsValidator />
    <ValidationSummary />
</EditForm>

@code {
    async Task SubmitAsync()
    {
        var user = await UserStateService.UserAsync();
        if (user is null)
        {
            return;
        }
        (var success, var probid) = await ApiService.TryCreateProblemAsync(new()
            {
                Name = Model.Name,
                Description = Model.Description,
                Difficulty = string.IsNullOrWhiteSpace(Model.Difficulty) ? null : Model.Difficulty,
                OwnerId = user.Id
            });
        if (!success)
        {
            ModalService.ShowError("Failed to create problem", "Internal error");
            return;
        }
        NavigationManager.NavigateTo($"problem/{probid}/edit");
    }

    ProblemModel Model = new();

    class ProblemModel
    {
        [Required(ErrorMessage = "Name is required")]
        public string Name { get; set; } = string.Empty;
        public string Description { get; set; } = "# Title\n## Description\n## Input\n## Output\n## Explanation\n## Constraints";
        public string Difficulty { get; set; } = string.Empty;
    }
}