@page "/problem/new"
@inject IApiService ApiService
<AuthCheck />

<EditForm>

    <div class="form-group">
        <label for="Name">Name</label>
        <InputText id="Name" class="form-control" @bind-Value="Model.Name" />
    </div>

    <div class="form-group">
        <label for="Description">Description</label>
        <InputText id="Description" class="form-control" @bind-Value="Model.Description" />
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    <DataAnnotationsValidator />
    <ValidationSummary />
</EditForm>

@code {
    async Task SubmitAsync()
    {
        await ApiService.TryCreateProblemAsync(new()
            {
                Name = Model.Name,
                Description = Model.Description
            });
    }

    ProblemModel Model = new();

    class ProblemModel
    {
        [Required(ErrorMessage = "Name is required")]
        public string Name { get; set; } = string.Empty;
        public string Description { get; set; } = "# Title\n## Description\n## Input\n## Output\n## Explanation\n## Constraints";
    }


}