@page "/problem/{id:guid}/testcase/new"
@inject IModalService ModalService
@inject IApiService ApiService
@inject NavigationManager NavigationManager
@inject IUserStateService UserStateService
@inject IMarkdownRenderService MarkdownRenderService
@rendermode InteractiveServer

<AuthCheck />
<PageTitle>New Test Case</PageTitle>

<EditForm Model=model OnValidSubmit="SubmitAsync">
    <div class="form-group">
        <label for="Input">Input</label>
        <InputTextArea id="Input" class="form-control" @bind-Value="model.Input" />
    </div>

    <div class="form-group">
        <label for="Output">Output</label>
        <InputTextArea id="Output" class="form-control" @bind-Value="model.Output" />
    </div>

    <div class="form-group">
        <label for="Description">Description</label>
        <InputText id="Description" class="form-control" @bind-Value="model.Description" />
    </div>

    <div class="form-group">
        <label for="Sample">Sample</label>
        <InputCheckbox id="Sample" class="form-control" @bind-Value="model.Sample" />
    </div>

    <div class="form-group">
        <label for="Active">Active</label>
        <InputCheckbox id="Active" class="form-control" @bind-Value="model.Active" />
    </div>

    <div class="form-group">
        <label for="Weight">Weight</label>
        <InputNumber id="Weight" class="form-control" @bind-Value="model.Weight" />
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    <DataAnnotationsValidator />
    <ValidationSummary />

</EditForm>

@code {
    [Parameter]
    public Guid Id { get; set; }

    ProblemTestCaseModel model { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        var (success, problem) = await ApiService.TryReadProblemAsync(Id);
        if (problem is null || !success)
        {
            ModalService.ShowError("Failed to load problem", "Internal error");
            NavigationManager.NavigateTo("/dashboard");
            return;
        }

        var user = await UserStateService.UserAsync();
        if (user is null)
        {
            ModalService.ShowError("Failed to load user", "Internal error");
            return;
        }
        if (user.Id != problem.OwnerId)
        {
            ModalService.ShowError("You are not the owner of this problem", "Unauthorized");
            NavigationManager.NavigateTo("/dashboard");
            return;
        }
    }

    async Task SubmitAsync()
    {
        var user = await UserStateService.UserAsync();
        if (user is null)
        {
            return;
        }
        (var success, var testCaseId) = await ApiService.TryCreateProblemTestCaseAsync(new()
            {
                Input = model.Input,
                Output = model.Output,
                Description = model.Description,
                Sample = model.Sample,
                Active = model.Active,
                Weight = model.Weight,
                ProblemId = Id
            });
        if (!success || !testCaseId.HasValue)
        {
            ModalService.ShowError("Failed to create test case", "Internal error");
            return;
        }
        NavigationManager.NavigateTo($"/problem/{Id}/edit");
    }

    class ProblemTestCaseModel
    {
        public string Input { get; set; } = "";
        public string Output { get; set; } = "";
        public string Description { get; set; } = "";
        public bool Sample { get; set; }
        public bool Active { get; set; }
        public int Weight { get; set; }
    }
}

