@page "/contest/{id:guid}"
@inject IApiService ApiService
@inject IModalService ModalService
@inject NavigationManager NavigationManager
@inject ITimeZoneProvider TimeZoneProvider
@rendermode InteractiveServer
<AuthCheck Contest=Id/>

@if (contest is null)
{
    <div>Loading...</div>
}
else
{
    <h1 class="mb-4 text-3xl">@contest.Name</h1>
    <article class="p-2 prose border-2 rounded-md border-slate-400 min-h-96">
        @((MarkupString)contest.RenderedDescription)
    </article>
}



@code {
    [Parameter] 
    public Guid Id { get; set; }

    Contest? contest;

    protected override async Task OnInitializedAsync() 
    {
        var (success, c) = await ApiService.TryReadContestAsync(Id);
        
        if (!success || c is null)
        {
            ModalService.ShowError("Failed to load contest", "Internal error");
            NavigationManager.NavigateTo("/dashboard");
            return;
        }
        contest = c;
    }
}