
<div class="sm:w-4/5 md:w-2/3 lg:w-1/2">
    <h1>New Contest</h1>
    <EditForm Model=model>
        <label class="flex flex-col">
            <div class="pl-2">
                Name
            </div>
            <InputText class="w-64 px-2 py-1 ml-2 bg-gray-100 rounded-lg text-slate-800" id="Name" @bind-Value=model.Name />
        </label>

        <InputText @bind-Value="model.Description" id="Description" />
        <InputDate Type="InputDateType.Date" @bind-Value="model.StartDate" id="StartTime" />
        <InputDate Type="InputDateType.Time" @bind-Value="model.StartTime" id="StartTime" />
        <InputDate Type="InputDateType.Date" @bind-Value="model.EndDate" id="StartTime" />
        <InputDate Type="InputDateType.Time" @bind-Value="model.EndTime" id="EndTime" />
        <InputDate Type="InputDateType.Time" @bind-Value="model.EndTime" id="EndTime" />

        <DataAnnotationsValidator />
        <button type="submit">Create</button>
    </EditForm>
</div>

@code {
    ContestModel model = new();
    class ContestModel
    {
        public string Name { get; set; } = string.Empty;
        public string Description { get; set; } = string.Empty;
        public DateOnly StartDate { get; set; }
        public DateOnly EndDate { get; set; }
        public TimeOnly StartTime { get; set; }
        public TimeOnly EndTime { get; set; }

    }
}    using MongoDB.Driver.Linq;

#line default
#line hidden
#nullable disable
