@inject IJSRuntime JSRuntime

<div class="flex">
    <button @onclick=RunAsync class="bg-blue-500 text-white px-4 py-2 rounded-md">Run</button>
    <p>Press the Run button to execute the code</p>
</div>


<StandaloneCodeEditor Id="my-editor-instance-id" ConstructionOptions="EditorConstructionOptions" OnKeyUp="OnKeyUp" />

@code {
    private StandaloneEditorConstructionOptions EditorConstructionOptions(StandaloneCodeEditor editor)
    {
        return new StandaloneEditorConstructionOptions
            {
                AutomaticLayout = true,
                Language = "javascript",
                Value = "function xyz() {\n" +
                                    "   console.log(\"Hello world!\");\n" +
                                    "}",
            };
    }

    bool executing;
    string? message;
    private async Task RunAsync()
    {
        if (executing)
            return;

        executing = true;
        try
        {
            var models = await BlazorMonaco.Editor.Global.GetModels(JSRuntime);
            var model = models.FirstOrDefault(m => m.Id == "my-editor-instance-id");
            if (model is null)
                return;

            var lines = await model.GetLinesContent();
            var code = string.Join('\n', lines);
        }
        finally
        {
            executing = false;
        }
    }
}