@inject IModalService ModalService
@implements IDisposable

@if (modalMessage is not null)
{
    <div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center">
        <div class="bg-white p-4 rounded-md">
            <h3 class="text-lg font-semibold">@modalMessage.Title</h3>
            <p>@modalMessage.Message</p>
            <button @onclick="Close">Close</button>
        </div>
    </div>
})

@code {
    IModalService.ModalMessage? modalMessage;

    private void Close() =>
        modalMessage = null;

    public async void OnShow(IModalService.ModalMessage message)
    {
        modalMessage = message;
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose() =>
        ModalService.OnShow -= OnShow;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
            ModalService.OnShow += OnShow;
    }
}
